/* Reset some default browser styles */
body, h1, p, button {
    margin: 0;
    padding: 0;
}

#allcontacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* Style for the contact card container */
.contact-card {
    width: 250px;
    background-color: #fff;
    border: 1px solid #e1e1e1;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 25px 50px;
    padding: 20px;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.contact-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

/* Style for the contact's avatar */
.contact-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto 10px;
    border: 3px solid #007bff;
}

/* Style for the contact's name */
.contact-name {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}

/* Style for the contact's email */
.contact-email {
    font-size: 1rem;
    color: #555;
}

/* Style for the contact's phone number */
.contact-phone {
    margin-top: 10px;
    font-size: 0.9rem;
    color: #555;
}

/* Style for the contact's about */
.contact-phone {
    margin-top: 10px;
    font-size: 0.9rem;
    color: #555;
}

/* Style for the action buttons (Edit and Delete) */
.edit-button,
.delete-button {
    margin: 15px;
    padding: 8px 15px;
    background-color: #2d7314;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.edit-button:hover,
.delete-button:hover {
    background-color: #0056b3;
}
